:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
}

body {
    font-family :var(--main-font);
    color: #212121
}

h1,h2,h3,h4,h5,h6,ul,p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
}

.hero-header-btn,
.filter-button-1,
.filter-button-2,
.filter-button-3,
.filter-button-4,
.filter-button-5 {
    cursor: pointer;
}

/* ====================HEADER=================== */

.header {
    background: #ffffff;
}

.header .container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 1200px;
    height: 80px;
}

.header {
        border-bottom: 1px solid #ececec; 
}

.logo {   
    margin-right: 93px;
    font-family :var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-part-blue {
    color: var(--main-color);  
}
.logo-part-black {
    color: black;
}
.logo-part-white {
    color: white;
}

.navigation-list {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agencja::after {
    content: "";
    display: flex;
    width: 53px;
    height: 4px;
    background-color: var(--main-color);
    position: relative;
    top: 28px;
}
.portfolio::after {
    content: "";
    display: flex;
    width: 58px;
    height: 4px;
    background-color: var(--main-color);
    position: relative;
    top: 28px;
}
.kontakt::after {
    content: "";
    display: flex;
    width: 53px;
    height: 4px;
    background-color: var(--main-color);
    position: relative;
    top: 28px;
}

.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus, 
.hero-header-btn:hover,
.hero-header-btn:focus,
.address-link-mail:hover,
.address-link-mail:focus {
    color: var(--main-color);
}

.contact-mail:hover, 
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
    fill: var(--main-color);
}

.header-contact {
    display: flex;
    align-items: center;
    margin-left: 345px;
}

.contact-mail,
.contact-phone {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: color 250ms, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail {
    margin-right: 30px;
}

.contact-mail-ico,
.contact-phone-ico {
    margin-right: 10px;
    transition: color 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

 /* ==================END HEADER=================== */

 /* =====================MAIN======================= */

/* MAIN HERO */

.hero,
.footer {
    background-color: #2f303a;
}

.hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/main/hero_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 280px;
}

.hero-header-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.hero-header-btn {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.hero-header-btn-title {
    color: white;
}
/* END MAIN HERO */

/* MAIN DESCRIPTION */

.main-description .container {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    padding-top: 94px;
}

.main-description-list {
    display: flex;
}

.main-description-item {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.main-description-item:not(:last-child) {
    margin-right: 30px;
}

.main-description-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.main-description-content {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

.main-description-icon {
    display: block;
    width: 70px;
    height: 70px;
}

.main-description-icon-space {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #f5f4fa;
    margin-bottom: 30px;
}


/* END MAIN DESCRIPTION */

/* WHAT WE DO */

.main-what-we-do .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    /* justify-content: center; */
    padding: 94px 15px;
}

.main-what-we-do-list {
    display: flex;
    padding-top: 50px;
}

.main-what-we-do-list-item:not(:last-child) {
    margin-right: 30px;
}

.main-what-we-do-list-item {
    position: relative;
}
.main-what-we-do-list-label {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
}
.label-item {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
    letter-spacing: 3%;
    color: #FFFFFF;
    text-transform: uppercase;
}

.main-what-we-do-header,
.team-header,
.customers-header {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
}

/* END WHAT WE DO */

/* OUR TEAM */

.team {
    background: #f5f4fa;    
}

.team .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 94px 15px;
}

.team-list {
    display: flex;
    padding-top: 50px;
}

.team-item {
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
            0px 1px 1px rgba(0, 0, 0, 0.14), 
            0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
padding-bottom: 30px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-personal {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
}

.team-personal-position {
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.team-socjal-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.team-socjal-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    transition: fill 250ms, background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socjal-list-link:not(:last-child) {
    margin-right: 10px;
}

.team-socjal-link:hover,
.team-socjal-link:focus {
    fill: #ffffff;
    background-color: var(--main-color);
}
/* END OUR TEAM */

/* OUR CUSTOMERS */

.customers .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin-bottom: 94px;
    margin-top: 94px;
}

.customers-header {
    margin-bottom: 50px;
}

.customers-logo-list {
    display: flex;
}

.customers-logo-link {
    display: flex;
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    transition: fill 250ms, border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo-item:not(:last-child) {
    margin-right: 30px;
}

.customers-logo-link:hover,
.customers-logo-link:focus {
    fill: var(--main-color);
    border-color: var(--main-color);
}



/* =====================END MAIN=================== */

/* =====================FOOTER===================== */


.footer .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    /* flex-direction: column; */
}

.container .logo {
    width: 145px;
}

.address-list {
    display: flex;
    flex-direction: column;
}

.address-list:not(:last-child) {
    padding-bottom: 9px;
}

.address {
    display: flex;
    padding-top: 20px;
    font-style: normal;
}
.address-link-lokalization {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0,03em;
    color: #ffffff;
    text-decoration: none;
}

.address-link-mail,
.address-link-phone {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address-link-phone {
    text-decoration: none;
}

/* FOOTER SOCJAL START */

.footer-socjal {
    margin-left: 70px;
}

.footer-socjal-header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 20px;
    padding-top: 12px;
}

.address-link-mail {
    text-decoration: none;
}

.footer-socjal-list {
    display: flex;
}

.footer-socjal-item {
    display: flex;
}

.footer-socjal-icon {
    fill: #ffffff;
}

.footer-socjal-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socjal-link:focus,
.footer-socjal-link:hover {
    background-color: var(--main-color);
}

.footer-socjal-item:not(:last-child) {
    margin-right: 10px;
}


/* FOOTER SOCJAL END */


/* =====================END FOOTER===================== */

/* ----------MODAL WINDOW---------- */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    transition: 400ms;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background-color: #fff;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* ----------END MODAL WINDOW---------- */

/* ======================PORTFOLIO PAGE======================= */

/* ======================MAIN========================== */

/* SECTION FILTER */


.filter .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-top: 94px;
    justify-content: center;
}

.filter-list {
    display: flex;
    width: 572px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

/* THE TEXT CONTENT OF THE BUTTONS */
.filter-button-1,
.filter-button-2,
.filter-button-3,
.filter-button-4,
.filter-button-5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    transition: color 250ms, background-color 250ms, box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* BODY BUTTON */
.filter-button-1,
.filter-button-2,
.filter-button-3,
.filter-button-4,
.filter-button-5 {
    background: #f5f4fa;
    border-radius: 4px;
    height: 38px;
}
.filter-button-1,
.filter-button-5 {
    width: 121px;
}
.filter-button-2 {
    width: 93px;
}
.filter-button-3 {
    width: 114px;
}
.filter-button-4 {
    width: 91px;
}

.filter-button-1:hover,
.filter-button-1:focus,
.filter-button-2:hover,
.filter-button-2:focus,
.filter-button-3:hover,
.filter-button-3:focus,
.filter-button-4:hover,
.filter-button-4:focus,
.filter-button-5:hover,
.filter-button-5:focus {
    color: #ffffff;
    background-color: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}


/* END SECTION FILTER */

/* SECTION PROJECTS */

.projects .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-top: 50px;
    padding-bottom: 94px;
}

.container .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.project-header-space {
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #eeeeee;
    background: #ffffff;
}

.projects-list-project1,
.projects-list-project2,
.projects-list-project3,
.projects-list-project4,
.projects-list-project5,
.projects-list-project6,
.projects-list-project7,
.projects-list-project8,
.projects-list-project9 {
    position: relative;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 30px;
    transition: box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    padding-left: 24px;
    padding-right: 45px;
    background-color: rgba(33, 150, 243, 0.9);
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms ease;
}

.overlay-description {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3%;
    color: #FFFFFF;
}

.projects-list-project1:hover .project-list-overlay,
.projects-list-project2:hover .project-list-overlay,
.projects-list-project3:hover .project-list-overlay,
.projects-list-project4:hover .project-list-overlay,
.projects-list-project5:hover .project-list-overlay,
.projects-list-project6:hover .project-list-overlay,
.projects-list-project7:hover .project-list-overlay,
.projects-list-project8:hover .project-list-overlay,
.projects-list-project9:hover .project-list-overlay {
    transform: translateY(0);
}

.projects-list-project1:hover,
.projects-list-project2:hover,
.projects-list-project3:hover,
.projects-list-project4:hover,
.projects-list-project5:hover,
.projects-list-project6:hover,
.projects-list-project7:hover,
.projects-list-project8:hover,
.projects-list-project9:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project1-header,
.project2-header,
.project3-header,
.project4-header,
.project5-header,
.project6-header,
.project7-header,
.project8-header,
.project9-header {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-category-webpage,
.project-category-app,
.project-category-design,
.project-category-marketing {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}